@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Nullfont;
  src: url("./assets/null_font.otf") format("opentype");
}

.main-bg {
  background-image: url('./assets/1556342.jpg');
}

.login-option-btn{
  transition: 0.5s;
}

.login-option-btn:hover {
  background: #fd5454;
  color: black;
  transform: scale(1.1);
}

.hover-effect {
  transition: 0.65s;
}

.hover-effect:hover {
  color: #fd5454;
  transform: scale(1.1);
}
.hover-effect-underline {
  transition: 1s;
}
.hover-effect-underline:hover{
  color: #fd5454;
  text-decoration: underline;
  transform:scale(1.5);
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto
    bg-gray-400 hover:bg-[#fd5454] dark:bg-gray-800
    text-[#fd5454] hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
  }
}

:root {
  font-size: 62.5%;

  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);

  --text: rgb(235, 236, 243);
  --brand: #FD5454;

  --text-xs: 1.6rem;
  --text-sm: 1.8rem;
  --text-md: 2.2rem;
  --text-lg: 3.6rem;
  --text-xl: 5.6rem;
  --text-2xl: 9.6rem;
}

*::selection {
  background: var(--brand);
  color: var(--background);
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-size: var(--text-sm);
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}


.page-container {
  background-color: #A9A9A9;
  /* Add any other styles you need */
}

.centeredText{
    text-align: center; /* Align text center */
    display: inline-block; /* Make the <p> behave like an inline-block element */
    max-width: 100%; /* Set maximum width to prevent each line from taking up the whole width */
    padding: 0 100px;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 2.4rem;
  }
}